$partial("templates/head.html")$
<body id="top-of-page">
  $partial("templates/navigation.html")$
  <div class="row t30"> <div class="medium-8 columns medium-offset-2 end">
      <article itemscope itemtype="http://schema.org/Article"> <header> <span itemprop="name"> <p class="subheadline"></p>

<center><h1>Let's get in touch!</h1></center> <p>Thank you for visiting my web home. If you would like to get in touch with me, please fill out the form.</p> <form action="//formspree.io/thayumk@gmail.com" method="POST"> <input type="hidden" name="_subject" value="Email from thayumanavarsv.github.io" /> <input type="hidden" name="_next" value="//site.io/thanks.html" /> Name: <input type="text" name="name" /> Your email: <input type="email" name="_replyto" /> Your message: <textarea name="comments" cols="40" rows="6"></textarea> <input type="text" name="_gotcha" style="display:none" /> <input type="submit" value="Send" /> </form>

    </span> </article> </div><!-- /.medium-8.columns --> </div><!-- /.row -->
  $partial("templates/footer.html")$
</body>
</html>
