<div id="navigation" class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1 class="show-for-small-only"><a href="$url$" class="icon-tree">Thaymanavar</a></h1>
      </li>
      </ul>
    </ul>

<section class="top-bar-section">
  <ul class="left">
    <li class="active">
      <a href="">Thayumanavar</a>
    </li>
    <li class="divider"></li>
  </ul>
  <ul class="right">
    <li class="divider"></li>
    <li class="active"><a href="">About Me</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Blog</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Projects/Courses</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Resume</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Reading List</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Physical(Run/Swim/Cycle!!!)</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Search</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="active"><a href="">Contact</a></li>
    <li class="divider"></li>
  </ul>
</section>
</div> <!-- /#navigation -->
