$partial("templates/head.html")$
<body id="top-of-page">
  $partial("templates/navigation.html")$
  <div class="row t30"> <div class="medium-8 columns medium-offset-2 end">
      <article itemscope itemtype="http://schema.org/Article"> <header> <span itemprop="name"> <p class="subheadline"></p>
	    <h1>My Reading List</h1>
	    <h3>Currently Reading</h3>
	    <ul>
	      <li>
		<a href="http://www.amazon.in/Cryptonomicon-Neal-Stephenson/dp/0060512806">Cryptonomicon</a1>
              </li>
              <li>
                <a href="http://www.amazon.in/Poincare-Conjecture-Search-Shape-Universe/dp/0802716547">
		  The Poincare Conjecture: In Search of the Shape of the Universe
		</a>
	     </li>
</ul>
<h3>2017</h3>
<ul>
  <li><a href="https://www.goodreads.com/book/show/1609224.The_Law">The Law</a></li>
  <li><a href="">The Begining of Infinity: Explanations That Transform the World</a></li>
  <li><a href="">The Code Book: The Science of Secrecy from Ancient Egypt to Quantum Cryptography</a></li>
  <li><a href="">Zero to One: Notes on Startups, or How to Build the Future</a></li>
  <li><a href="">What I Talk About When I Talk About Running</a></li>
  <li><a href="">Flash Boys: A Wall Street Revolt</a></li>
  <li><a href="">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life</a></li>
  <li><a href="">The Science of Interstellar</a></li>
  <li><a href="">A Brief History of Time</a></li>
  <li><a href="">Digital Gold: Bitcoin and the Inside Story of the Misfits and Millionaires Trying to Reinvent Money</a></li>
</ul>
    </span> </article> </div><!-- /.medium-8.columns --> </div><!-- /.row -->
  $partial("templates/footer.html")$
</body>
</html>
