$partial("templates/head.html")$
<body id="top-of-page">
  $partial("templates/navigation.html")$
  <div class="row t30"> <div class="medium-8 columns medium-offset-2 end">
      <article itemscope itemtype="http://schema.org/Article"> <header> <span itemprop="name"> <p class="subheadline"></p>


    <h1>Resume</h1> </span> </header> <span itemprop="articleSection"> <p>Well!!, this page is still under construction. If you would like to get a pdf copy of my CV, please use the <a href="/contact">contact </a> section to mail me.</p> <p>Also to know about my professional experience, please have a look at <a href="www.linkedin.com/thayumanavar">my linkedin page</a>.</p>

    </span> </article> </div><!-- /.medium-8.columns --> </div><!-- /.row -->
  $partial("templates/footer.html")$
</body>
</html>
